<p><strong>INFORMAÇÕES DE USO</strong></p>

<p>Você adquiriu um eSIM da WorldChip. A instalação é rápida e simples — siga o passo a passo abaixo:</p>
<br>

<p><strong>Antes de começar</strong></p>
<ul>
  <li>Conecte-se a uma rede Wi-Fi</li>
  <li>Ative os dados móveis</li>
  <li>EXCLUA TODOS OS eSIMs DE VIAGENS ANTERIORES (OBRIGATÓRIO)</li>
  <li>Realize a instalação somente na data de ativação informada no seu plano</li>
</ul>
<p>•	Realize a instalação somente na data de ativação informada no seu plano</p>

<p><strong>Instalação do eSIM</strong></p>
<br>

<p><strong>iPhone</strong></p>
<p>1. Acesse Ajustes</p>
<p>2. Toque em Celular</p>
<p>3. Toque em Adicionar eSIM</p>
<p>4. Selecione Usar código QR</p>
<p>5. Escaneie o QR Code</p>
<p>6. Siga as instruções na tela</p>
<p>7. Defina o eSIM WorldChip como principal para dados</p>
<p>8. Ative o Roaming de Dados</p>
<br>
<p><strong>Android</strong></p>
<p>1. Acesse Configurações</p>
<p>2. Toque em Conexões ou Rede e Internet</p>
<p>3. Acesse Gerenciador de SIM / eSIM</p>
<p>4. Toque em Adicionar eSIM</p>
<p>5. Escaneie o QR Code</p>
<p>6. Siga as instruções na tela</p>
<p>7. Defina o eSIM WorldChip como padrão para dados móveis</p>
<p>8. Ative o Roaming de Dados</p>
<br>

<p><strong>Importante</strong></p>
<ul>
  <li>O eSIM é vinculado ao aparelho no momento da instalação</li>
  <li>O eSIM NÃO pode ser deletado após a instalação, pois não poderá ser utilizado novamente</li>
  <li>Não será possível transferi-lo para outro dispositivo após ativação. Para qualquer necessidade, consulte nosso atendimento</li>
</ul>
<br>
