{% extends 'painel/partials/_content_default.html' %}
{% load static %}
{% load permission_tags %}
{% load date_day %}
{% load status_count %}
{% block title_page %}<i class="bi bi-shop"></i> Pedidos{% endblock %}
{% block title_content %}Ativações de Pedidos{% endblock %}

{% block css_custom %}
<style>
    .custom-tooltip {
        --bs-tooltip-bg: var(--bs-secondary);
        --bs-popover-body-padding-x: 0.1rem;
        --bs-popover-body-padding-y: 0.1rem;
    }

    .custom-popover {
        --bs-popover-border-color: var(--bs-secondary);
        --bs-popover-body-padding-x: 1rem;
        --bs-popover-body-padding-y: .5rem;
    }

    .ui-datepicker .ui-state-disabled {
        background-color: #fff;
        color: #ddd;
    }
</style>
{% endblock %}

{% block content_top %}

<div class="container-fluid">

    <div class="row pt-5">
        <div class="col-xxl-3 col-sm-3 mb-25">
            <!-- Card 1  -->
            <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                <div class="overview-content w-100">
                    <h5 class="text-primary fw-bold m-0">Total</h5>
                    <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                        <div class="ap-po-details__titlebar p-2">
                            <span class="h1">{{countActivAll}}</span><span class="ps-3">Ativações</span>
                        </div>
                        <div class="ap-po-details__icon-area">
                            <div class="svg-icon order-bg-opacity-primary bg-success">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 1 End  -->
        </div>
        <div class="col-xxl-3 col-sm-3 mb-25">
            <!-- Card 2 -->
            <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                <div class="overview-content w-100">
                    <h5 class="text-primary fw-bold m-0">T-mobile</h5>
                    <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                        <div class="ap-po-details__titlebar p-2">
                            <span class="h1">{{countActivTM}}</span><span class="ps-3">Ativações</span>
                        </div>
                        <div class="ap-po-details__icon-area">
                            <div class="svg-icon order-bg-opacity-primary bg-primary">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 End  -->
        </div>
        <div class="col-xxl-3 col-sm-6 mb-25">
            <!-- Card 3 -->
            <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                <div class="overview-content w-100">
                    <h5 class="text-primary fw-bold m-0">China Mobile</h5>
                    <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                        <div class="ap-po-details__titlebar p-2">
                            <span class="h1">{{countActivCM}}</span><span class="ps-3">Ativações</span>
                        </div>
                        <div class="ap-po-details__icon-area">
                            <div class="svg-icon order-bg-opacity-primary bg-info">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 End  -->
        </div>
        <div class="col-xxl-3 col-sm-3 mb-25">
            <!-- Card 4  -->
            <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                <div class="overview-content w-100">
                    <h5 class="text-primary fw-bold m-0">Telcom</h5>
                    <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                        <div class="ap-po-details__titlebar p-2">
                            <span class="h1">{{countActivTC}}</span><span class="ps-3">Ativações</span>
                        </div>
                        <div class="ap-po-details__icon-area">
                            <div class="svg-icon order-bg-opacity-primary bg-secondary">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 4 End  -->
        </div>
    </div>
</div>

{% endblock %}

{% block content_def %}

    <form action="{% url 'orders_activations' %}" method="POST">
    {% csrf_token %}
    {% if request.user|can:'edit_orders' %}
        
    <div class="form-group row">
        <div class="col-md-1">
            <div class="dm-select">
                <select class="form-control form-control-lg ps-3 pe-5" name="ord_staus">
                    <option value="" selected>Alterar Status</option>
                    {% for ord_st in ord_st_list %}
                    <option value="{{ord_st.0}}">{{ord_st.1}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default btn-rounded color-primary btn-primary"
                name="up_status">Alterar</button>
        </div>
        {% endif %}
        <div class="col-md-2">
            <div id="pageContentArea" class="pageSection">
                <input type="text" id="activGoing_f" name="activGoing_f"
                    class="inputField shortInputField dateRangeField form-control  ih-medium ip-gray radius-xs b-light"
                    placeholder="Data de Ativação" data-from-field="txtDateFrom" data-to-field="txtDateTo"
                    autocomplete="off" />
            </div>
        </div>
        <div class="col-md-2">
            <div id="pageContentArea" class="pageSection">
                <input type="text" id="activReturn_f" name="activReturn_f"
                    class="inputField shortInputField dateRangeField form-control  ih-medium ip-gray radius-xs b-light"
                    placeholder="Data de Retorno" data-from-field="txtDateFrom" data-to-field="txtDateTo"
                    autocomplete="off" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="dm-select">
                <select class="form-control form-control-lg ps-3 pe-5" name="oper_f">
                    <option value="" selected>Todas Operadoras</option>
                    {% for op_s in oper_list %}
                    <option value="{{op_s.0}}">{{op_s.1}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dm-select">
                <select class="form-control form-control-lg ps-3 pe-5" name="ord_st_f">
                    <option value="" selected>Todos Status</option>
                    {% for ord_st in ord_st_list %}
                    {% if ord_st.2 != 0 %}
                    <option value="{{ord_st.0}}">{{ord_st.1}} ({{ord_st.2}})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default btn-rounded color-primary btn-primary"
                name="up_filter">Filtrar</button>
        </div>           
        <div class="col-md-1 p-2">
            <div class="application-task d-flex align-items-center">
                <a class="btn-default btn-rounded pe-3" href="{% url 'orders_activations' %}">
                    <i class="bi bi-arrow-clockwise fs-4"></i>
                </a>
                <a class="btn-default btn-rounded pe-3" href="{% url 'ord_export_act' %}">
                    <i class="bi bi-arrow-down-circle fs-4"></i>
                </a>
            </div>
        </div>    
    </div><!--End Row-->

    <div class="table-responsive">
        <table class="table mb-0 table-hover table-responsive">
            <thead>
                <tr class="userDatatable-header">
                    <th><input class="form-check-input" type="checkbox" id="checkAll"></th>
                    <th class="userDatatable-title">Pedido</th>
                    <th class="userDatatable-title">Cliente</th>
                    <th class="userDatatable-title">(e)SIM</th>
                    <th class="userDatatable-title">Op.</th>
                    <th class="userDatatable-title">Produto</th>
                    <th class="userDatatable-title text-center">Países</th>
                    <th class="userDatatable-title text-center">Dias</th>
                    <th class="userDatatable-title text-center">Celular</th>
                    <th class="userDatatable-title text-center">Ativação</th>
                    <th class="userDatatable-title text-center">Término</th>
                    <th class="userDatatable-title text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                {% if orders %}
                {% for order in orders %}
                <tr class="table-tr">
                    <td class="text-center">
                        <div class="userDatatable-content">
                            <input class="checkItem form-check-input " type="checkbox" value="{{order.id}}" name="ord_id">
                        </div>
                    </td>
                    <td>
                        <div class="userDatatable-content">{{ order.item_id }}</div>
                    </td>
                    <td>
                        <div class="userDatatable-content">{{ order.client|truncatechars:30 }}</div>
                    </td>
                    <td class="text-center">
                        <div class="userDatatable-content">
                            {{ order.id_sim__sim }}

                            {% if order.id_sim__type_sim == 'esim' %}
                            <a href="{{ order.id_sim__link }}" target="_blank">
                                <i class="bi bi-qr-code text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Ver QRCode">
                                </i>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="userDatatable-content">{{ order.id_sim__operator }}</div>
                    </td>
                    <td>
                        <div class="userDatatable-content">
                            {{ order.product }} {{ order.data_day }}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="userDatatable-content">
                            {% if order.countries == 0 %}-{% else %}
                            <span class="badge badge-round badge-lg alert-success">Sim</span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="userDatatable-content">
                            {{ order.days }}
                        </div>
                    </td>
                    <td>
                        <div class="userDatatable-content">
                            {% if order.cell_mod %}
                                <i class="bi bi-phone text-primary"
                                    style="cursor: pointer;"
                                    data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                                    data-bs-content="{{order.cell_mod}}">
                                </i>
                            {% endif %}
                            {% if order.cell_imei %}
                                <i class="bi bi-phone text-secondary"
                                    style="cursor: pointer;" 
                                    data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                                    data-bs-content="IMEI - {{order.cell_imei}}">
                                </i>
                            {% endif %}
                            {% if order.cell_eid %}
                                <i class="bi bi-phone text-secondary" 
                                    style="cursor: pointer;" 
                                    data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                                    data-bs-content="EID - {{order.cell_eid}}">
                                </i>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="userDatatable-content">{{ order.activation_date|date:"d/m/Y" }}</div>
                    </td>
                    <td class="text-center">
                        <div class="userDatatable-content">
                            {{ order.return_date|date:"d/m/Y"}}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="userDatatable-content">{{ order.order_status|map_status:status_choice_dict }}</div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="table-tr">
                    <td colspan="12">
                        <div class="userDatatable-content">
                            Nenhum pedido encontrado.
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    </form>


    <nav aria-label="navigation">
        <ul class="pagination">
            {% if orders.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}{{ url_filter }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="">
                    {{ orders.number }} de {{ orders.paginator.num_pages }}</a>
            </li>
            {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.next_page_number }}{{ url_filter }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</form>

{% endblock %}
{% block script_custom %}
<script>
    $(document).ready(function () {
        // Ação do botão "Marcar Todos"
        $('#checkAll').on('change', function () {
            $('.checkItem').prop('checked', this.checked);
        });
    });
</script>
<script>
        (function ($) {
            $(document).ready(function () {
                $("#activGoing_f").dateRangePicker({
                    showOn: "focus",
                    rangeSeparator: " - ",
                    dateFormat: "dd/mm/yy",
                    useHiddenAltFields: true,
                    constrainInput: true,
                });
                $("#activReturn_f").dateRangePicker({
                    showOn: "focus",
                    rangeSeparator: " - ",
                    dateFormat: "dd/mm/yy",
                    useHiddenAltFields: true,
                    constrainInput: true,
                });
            });
        })(jQuery);
</script>
<script>
    /* Tooltips */
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    /* Popovers */
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}