{% extends 'painel/layouts/vertical.html' %}
{% load static %}
{% block title %}SIMs nos Pedidos{% endblock title %}
{% block page_title %}
  {% include 'painel/partials/page-title.html' with subtitle='SIMs' title='Adicionar SIM aos Pedidos' %}
{% endblock page_title %}
{% block page_content %}
  <div class="card max-w-2xl">
    <div class="card-header">
      <div>
        <h4 class="card-title mb-1.25">Atribuir (e)SIM aos pedidos</h4>
        <p class="mb-0 text-default-400">Clique no botão abaixo para atribuir um SIM ou eSIM aos pedidos.</p>
      </div>
    </div>
    <div class="card-body">
      <form action="{% url 'sims_ord' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn bg-primary text-white hover:bg-primary-hover">
          <i class="iconify tabler--device-sim me-1"></i>
          Adicionar (e)SIM aos Pedidos
        </button>
      </form>
    </div>
  </div>
{% endblock page_content %}
