<footer class="footer-wrapper">
    <div class="footer-wrapper__inside">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <p><span>© 2024 - WorldChip | v1.0.0.a</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-copyright text-end">
                        <p><a href="https://criativa.digital/" target="_blank"><em>By CRIATIVA DIGITAL</em></a></p>
                    </div>
                    <!-- ends: .Footer Menu -->
                </div>
            </div>
        </div>
    </div>
</footer>