{% load static %}
{% load date_day %}

<div class="mobile-author-actions bg-primary"></div>
<header class="header-top layout-dark bg-primary">
    <nav class="navbar">
        <div class="navbar-left">
            <div class="logo-area">
                <a class="navbar-brand" href="{% url 'dashboard' %}">
                    <img class="dark" src="{% static 'painel/theme/img/logo-painel.png' %}" alt="logo">
                    <img class="light" src="{% static 'painel/theme/img/logo-painel.png' %}" alt="logo">
                </a>
                <a href="#" class="sidebar-toggle">
                    <i class="bi bi-list"></i>

                </a>
            </div>
        </div>
        <!-- ends: navbar-left -->
        <div class="navbar-right layout-light w-100">
            <ul class="navbar-right__menu d-flex justify-content-end">
                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:;" class="nav-item-toggle">
                            <span class="avatar avatar-light avatar-md avatar-circle  ">
                                <i class="bi bi-person text-light"></i>
                            </span>
                            <span class="nav-item__title">{{ user.first_name }} {{ user.last_name }} <i class="bi bi-caret-down-fill ps-2"></i></span>
                        </a>
                        <div class="dropdown-parent-wrapper">
                            <div class="dropdown-wrapper">
                                <div class="nav-author__options">
                                    <a href="{% url 'logout' %}" class="nav-author__signout">
                                        <i class="uil uil-sign-out-alt"></i> Sair
                                    </a>
                                </div>
                            </div>
                            <!-- ends: .dropdown-wrapper -->
                        </div>
                    </div>
                </li>
                <!-- ends: .nav-author -->
            </ul>
            <!-- ends: .navbar-right__menu -->
            <div class="navbar-right__mobileAction d-md-none bg-primary w-100">
                <a href="#" class="btn-author-action d-flex justify-content-end">
                    <i class="bi bi-three-dots-vertical text-light"></i>
                </a>
            </div>
        </div>
        <!-- ends: .navbar-right -->
    </nav>
</header>