<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="text-primary fw-bold m-0">Ativações para Amanhã</h5>
                    <div class="d-flex border-0 content-center">
                        <div class="application-task d-flex align-items-center">
                            <div class="application-task-icon wh-60 bg-success content-center">
                                <i class="bi bi-calendar-check-fill fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h2>{{activationTomorrow}}</h2>
                            </div>
                        </div>
                        <div class="application-task d-flex align-items-center">
                            <div id="ttContActiv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-info fw-bold text-xs mb-1 content-center pb-2">
                        <h5 class="text-primary fw-bold m-0">Estoque T-mobile</h5>
                    </div>
                    <div class="d-flex border-0 radius-xl content-center">
                        <div class="application-task d-flex align-items-center me-20">
                            <div class="application-task-icon wh-60 bg-primary content-center">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ sim_tm }}</h4>
                                <span class="text-light fs-14 mt-1">SIMs</span>
                            </div>
                        </div>
                        <div class="application-task d-flex align-items-center">
                            <div class="application-task-icon wh-60 bg-secondary content-center">
                                <i class="bi bi-sim fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ esim_tm }}</h4>
                                <span class="text-light fs-14 mt-1">eSIMs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-info fw-bold text-xs mb-1 content-center pb-2">
                        <h5 class="text-primary fw-bold m-0">Estoque China Mobile</h5>
                    </div>
                    <div class="d-flex border-0 radius-xl content-center">
                        <div class="application-task d-flex align-items-center me-20">
                            <div class="application-task-icon wh-60 bg-primary content-center">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ sim_cm }}</h4>
                                <span class="text-light fs-14 mt-1">SIMs</span>
                            </div>
                        </div>
                        <div class="application-task d-flex align-items-center">
                            <div class="application-task-icon wh-60 bg-secondary content-center">
                                <i class="bi bi-sim fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ esim_cm }}</h4>
                                <span class="text-light fs-14 mt-1">eSIMs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-info fw-bold text-xs mb-1 content-center pb-2">
                        <h5 class="text-primary fw-bold m-0">Estoque Telcom</h5>
                    </div>
                    <div class="d-flex border-0 radius-xl content-center">
                        <div class="application-task d-flex align-items-center me-20">
                            <div class="application-task-icon wh-60 bg-primary content-center">
                                <i class="bi bi-sim-fill fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ sim_tc }}</h4>
                                <span class="text-light fs-14 mt-1">SIMs</span>
                            </div>
                        </div>
                        <div class="application-task d-flex align-items-center">
                            <div class="application-task-icon wh-60 bg-secondary content-center">
                                <i class="bi bi-sim fa-2x text-white"></i>
                            </div>
                            <div class="application-task-content">
                                <h4>{{ esim_tc }}</h4>
                                <span class="text-light fs-14 mt-1">eSIMs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>