{% load static i18n %}
<footer class="footer">
  <div class="container-fluid">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 text-center md:text-left">
        ©
        <script>document.write(new Date().getFullYear())</script>
        WorldChip |
        <span class="font-semibold">v3.0.0</span>
        —
        <a href="https://criativa.digital/"
           target="_blank"
           rel="noopener noreferrer"
           class="font-semibold">by Criativa Digital</a>
      </div>
    </div>
  </div>
</footer>
