{% extends 'painel/partials/_content_default.html' %}
{% load static %}
{% load date_day %}
{% block title_page %}<i class="bi bi-sim" style="font-size: 1.2em;"></i> SIMs{% endblock %}
{% block title_content %}Adicionar SIMs{% endblock %}

{% block content_def %}
<form action="{% url 'sims_add_sim' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="form-label">Tipo de Chip</label>
    <div class="radio-horizontal-list d-flex">
        <input type="radio" class="btn-check" name="type_sim" id="type_sim1" value="sim" autocomplete="off" checked>
        <label class="btn btn-outline-primary me-2" for="type_sim1">SIM Físico</label>

        <input type="radio" class="btn-check" name="type_sim" id="type_sim2" value="esim" autocomplete="off" disabled>
        <label class="btn btn-outline-primary me-2" for="type_sim2">eSIM Virtual</label>
    </div>

    <label class="form-label">Operadora</label>
    <div class="radio-horizontal-list d-flex">
        <input type="radio" class="btn-check" name="operator" id="operator1" value="TM" autocomplete="off" required>
        <label class="btn btn-outline-primary me-2" for="operator1">T-mobile</label>

        <input type="radio" class="btn-check" name="operator" id="operator2" value="CM" autocomplete="off" required>
        <label class="btn btn-outline-primary me-2" for="operator2">China Mobile</label>

        <input type="radio" class="btn-check" name="operator" id="operator3" value="TC" autocomplete="off" required>
        <label class="btn btn-outline-primary me-2" for="operator3">Telcom</label>
        
        <input type="radio" class="btn-check" name="operator" id="operator4" value="TI" autocomplete="off" required>
        <label class="btn btn-outline-primary me-2" for="operator4">Telcom IMSI</label>
    </div>
    <div class="form-group">
        <label for="formFile" class="form-label">Enviar arquivo CSV</label>
        <input class="form-control" type="file" id="formFile" name="sim" required>
    </div>
    <div class="form-group pt-4">
        <button type="submit" class="btn btn-default btn-rounded color-primary btn-primary">
            <span class="flex items-center">
                <i class="bi bi-sim"></i> <span>Cadastrar SIMs</span>
            </span>
        </button>
    </div>
    <div class="form-group pt-4">
        <a href="{{ url_cdn }}/files/adicionar_sims.csv" target="_blank">
            <i class="bi bi-cloud-arrow-down text-info"></i> <span class='text-info'>Download do arquivo padrão</span>
        </a>
    </div>

</form>

{% endblock %}